/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 17, 2024, 11:42:06 PM
    Author     : admin
*/

            .nav-item > a{
                color: black;
                font-family: initial;
                font-weight: bolder;
                font-size: x-large;
            }

            .nav-item > a:hover{
                color: red;
            }


            .card-img-top{
                height: 300px;
                margin-top: 10px;
            }

            #1{
                margin-top: 20px;
            }

            .card-text{
                color: red;
            }

            .card-body > a{
                background: white;
                color: blue;
            }

            .card-body > h5{
                font-family: cursive
            }

            #col-md-4 > h3{
                font-size: initial


            }

            #footer-content {
                background: #F8F9FA

            }

            #footer-content h3 {
                font-family: inherit;

                font-style: italic;
                text-decoration: underline


            }

            #footer-content h5 {
                font-family: cursive;
                font-size: initial

            }

            .test > h1{
                color: #ff0000;
                font-size:24px;
                font-weight:bold;
                -webkit-animation: my 700ms infinite;
                -moz-animation: my 700ms infinite;
                -o-animation: my 700ms infinite;
                animation: my 700ms infinite;
            }
            @-webkit-keyframes my {
                0% {
                    color: #F8CD0A;
                }
                50% {
                    color: #fff;
                }
                100% {
                    color: #F8CD0A;
                }
            }
            @-moz-keyframes my {
                0% {
                    color: #F8CD0A;
                }
                50% {
                    color: #fff;
                }
                100% {
                    color: #F8CD0A;
                }
            }
            @-o-keyframes my {
                0% {
                    color: #F8CD0A;
                }
                50% {
                    color: #fff;
                }
                100% {
                    color: #F8CD0A;
                }
            }
            @keyframes my {
                0% {
                    color: #ff0000;
                }
                50% {
                    color: #fff;
                }
                100% {
                    color: #ff0000;
                }

            }

            #button-login > button:hover{
                color: red
            }

            #button-login > button{
                margin-left: 230px
            }
            
            .tk > *:hover{
                color: red;
                background: black;
            }
            
            

